* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

html {
  line-height: 1.5;
  text-size-adjust: 100%;
  tab-size: 4;
  scroll-behavior: smooth;
}

div {
  display: block;
}

p {
  display: block;
}

header {
  position: relative;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  color: #243e63;
  font-size: 14px;
  font-weight: bold;
}

img {
  width: 100%;
}

.purple {
  color: #6415ff;
}

header {
  height: calc(100vh - 80px);
}

#landing {
  min-height: 100vh;
  padding: 32px 32px 96px;
}

button {
  cursor: pointer;
}

.btn {
  padding: 12px 32px;
  background-color: #6415ff;
  border-radius: 9999px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

/* NAV BAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 12px;
}

.nav__logo--link {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-weight: bold;
  font-size: 24px;
  color: #243e63;
}

.nav__logo--link:hover {
  color: #6415ff;
}

.nav__link {
  margin: 0 24px;
}

.nav__link--login {
  margin: 0px 24px 0px 48px;
}

.nav__link:hover {
  color: #6415ff;
  text-decoration: underline #6415ff;
  text-underline-offset: 10px;
}

.nav__link--signup {
  border-radius: 9999px;
  padding: 12px 32px;
  margin: 0;
  background-color: #6415ff;
  font-weight: bold;
  color: #fff;
}

.nav__link--signup:hover {
  background-color: #5512d9;
  text-decoration-line: none;
}

/* BURGER MENU */

.nav__burger {
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
  width: 40px;
  height: 40px;
  display: none;
}

.menu__close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  z-index: 1000;
  visibility: hidden;
  transform: translateX(400%);
  transition: all 300ms ease;
  border: 1px solid rgb(229, 231, 235);
}

.menu--open .menu__backdrop {
  visibility: visible;
  transform: translateX(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom-width: 2px;
  border-color: transparent;
  padding-bottom: 0.25rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.menu__link:hover {
  color: #6415ff;
  text-decoration: underline #6415ff;
  text-underline-offset: 10px;
}

.menu__link--signup {
  display: inline-block;
  color: #f7fafc;
  padding: 12px 32px;
  background-color: #6415ff;
  border-radius: 100px;
  margin: 9px 0px;
}

.menu__link--signup:hover {
  background-color: #5512d9;
  text-decoration-line: none;
}

/* LANDING HEADER */
header .row {
  display: flex;
}

.landing__container {
  width: 40%;
}

.landing__title {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

.landing__para {
  font-size: 18px;
  color: #243e63;
  margin: 32px 0;
  line-height: 1.5;
}

.landing__email-input {
  position: relative;
  max-width: 448px;
  display: flex;
  align-items: center;
}

.landing__email-input--input {
  padding: 22px 0;
  padding-left: 32px;
  width: 100%;
  border-radius: 100px;
  border: 2px solid #e5e7eb;
  font-size: 16px;
  font-weight: 500;
}

.landing__email-input--btn {
  position: absolute;
  right: 0;
  margin: 8px 8px 8px 0;
  padding: 14px 0;
  width: 160px;
  border-radius: 9999px;
  border: none;
  background-color: #6415ff;
  font-size: 16px;
  color: #f7fafc;
  font-weight: bold;
  box-sizing: content-box;
  line-height: 1.5;
}

.landing__customers {
  margin: 80px 0 0;
}

.landing__customers--title {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.landing__customers--img {
  opacity: 0.5;
  margin-top: 16px;
  padding-right: 128px;
}

.landing__image--figure {
  position: relative;
  display: flex;
  width: 60%;
  max-width: 768px;
  justify-content: flex-end;
}

.landing__image {
  max-width: 100%;
  width: 100%;
}

/* FEATURES */
#features .container {
  position: relative;
}

.features__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 16px;
}

.section__title-two {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.features__para {
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.625;
  font-weight: 500;
  max-width: 576px;
  color: rgb(124, 139, 161);
  margin-bottom: 40px;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  width: calc(100% / 3);
  padding: 32px 24px;
  align-items: flex-start;
  justify-content: center;
}

.service-item--icon {
  padding: 20px;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 100%;
  display: flex;
}

.service-item--icon-img {
  width: auto;
}

.service__description {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 16px;
}

.service__item--title {
  font-size: 24px;
  font-weight: 700;
}

.service__item--para {
  font-size: 16px;
  margin-top: 16px;
  max-width: calc(634px / 3);
  font-weight: 500;
  line-height: 2;
  color: #7c8ba1;
}

/* QUALITY WORK */

#quality-work .row {
  display: flex;
  justify-content: space-between;
}

.quality-work__description {
  width: 50%;
  max-width: 576px;
  margin-right: 64px;
}

.quality-work__para {
  font-size: 16px;
  text-align: left;
  margin-top: 16px;
  line-height: 1.625;
  font-weight: 500;
  max-width: 576px;
  color: rgb(124, 139, 161);
  margin-bottom: 40px;
}

#quality-work .quality-work__img--wrapper {
  position: relative;
}

.quality-work__img--wrapper {
  width: 50%;
  max-width: 640px;
}

.quality-work__img--wrapper img {
  width: 100%;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 4px;
  overflow: hidden;
}

/* STEPS */

#steps .row {
  display: flex;
}

.steps__img--wrapper {
  width: 50%;
  max-width: 640px;
  width: 100%;
}

.steps__description {
  width: 50%;
  flex-direction: column;
  max-width: 576px;
  margin-left: 64px;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.step__number--wrapper {
  display: flex;
  flex-direction: column;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
}

.step__description {
  margin-left: 24px;
}

.step__title {
  color: #243e63;
  font-size: 20px;
  font-weight: 600;
}

.step__para {
  margin-top: 12px;
  font-size: 14px;
  color: #718096;
  font-weight: 500;
  line-height: 2;
  max-width: 320px;
}

/* VALUES */
#values .row {
  display: flex;
  justify-content: space-between;
}

.values__description {
  max-width: 576px;
  width: 50%;
  margin-right: 64px;
}

.values__para {
  font-size: 16px;
  text-align: left;
  margin-top: 16px;
  line-height: 1.625;
  font-weight: 500;
  max-width: 576px;
  color: rgb(124, 139, 161);
}

.values__features {
  display: flex;
  max-width: 576px;
}

.value {
  margin: 32px 32px 0 0;
  display: flex;
  flex-direction: column;
}

.value__header {
  display: flex;
  align-items: center;
}

.value__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;
  padding: 8px;
}

.img-green {
  color: rgb(39, 103, 73);
  background-color: #9ae6b4;
}

.img-red {
  color: rgb(155, 44, 44);
  background-color: rgb(254, 178, 178);
}

.value__title {
  margin-left: 12px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(36, 62, 99);
}

.value__para {
  margin-top: 16px;
  font-weight: normal;
  color: rgb(113, 128, 150);
  line-height: 1.625;
}

.values__btn {
  margin-top: 48px;
}

#values .values__img--wrapper {
  position: relative;
}

.values__img--wrapper {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  width: 50%;
}

.values__img {
  width: 100%;
  height: auto;
}

/* PRICING */
#pricing .pricing__description {
  width: 100%;
  max-width: none;
  margin-bottom: 0px;
  text-align: center;
}

#pricing .container {
  position: relative;
}

.pricing__para {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  color: #7c8ba1;
  margin: 0 auto;
  max-width: 576px;
}

.plans {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  padding: 8px 32px 0;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  position: relative;
  margin: 64px 32px 0 0;
}

.plan__green--gradient,
.plan__red--gradient {
  height: 8px;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.plan__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 0;
  border-bottom: 1px solid #e5e7eb;
}

.plan__title--white,
.plan__title {
  font-size: 20px;
  font-weight: 700;
}

.plan__cost--white,
.plan__cost {
  font-size: 48px;
  font-weight: 700;
  margin: 4px 0;
}

.plan__duration--white,
.plan__duration {
  font-size: 16px;
  font-weight: 700;
  color: #a0aec0;
}

.plan__title--white,
.plan__cost--white,
.plan__duration--white,
.plan__details--title--white {
  color: #f7fafc;
}

.plan__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.plan__details--title--white,
.plan__details--title {
  font-size: 20px;
  font-weight: 700;
}

.plan__details--content--white,
.plan__details--content {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  color: #718096;
}

.plan__details--content--white {
  color: #e2e8f0;
}

.plan__action {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 64px;
  border-top: 1px solid #e5e7eb;
}

.plan__action--btn {
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 99px;
  padding: 16px 32px;
  cursor: pointer;
  transition: transform 300ms ease, box-shadow 300ms ease;
}

.plan__action--btn:hover {
  transform: translate(2px, -2px);
  box-shadow: 0px 5px 10px rgb(70 70 70 / 40%);
}

.plan__action--btn-white {
  color: #6415ff;
}

.plan__green--gradient,
.plan__action--btn-green {
  color: white;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__purple {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan__red--gradient,
.plan__action--btn-red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  color: white;
}

/* TESTIMONIALS */
#testimonials .row {
  display: flex;
  justify-content: space-between;
}

.testimonials__img--wrapper {
  max-width: 640px;
  width: 50%;
}

.testimonials__description {
  margin: 0;
  padding-left: 64px;
  max-width: 640px;
}

.testimonials__para {
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.625;
  font-weight: 500;
  color: #7c8ba1;
}

.testimonial {
  margin-top: 2.5rem;
  width: 100%;
}

.testimonial__stars {
  display: flex;
  max-width: 576px;
  margin: 32px 32px 0 0;
}

.stars__img--wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border-radius: 0px;
  padding: 0;
}

.star {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  filter: invert(60%) sepia(50%) saturate(2000%) hue-rotate(20deg)
    brightness(110%) contrast(119%);
}

.testimonial__title {
  font-size: 20px;
  margin-top: 16px;
  color: #243e63;
}

.testimonial__para {
  font-size: 16px;
  font-weight: 500;
  color: #4a5558;
  margin: 16px 0 40px 0;
}

.testimonial__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.testimonial__profile {
  display: flex;
}

.testimonial__profile--img-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 9999px;
  overflow: hidden;
}

.testimonial__profile--details {
  margin-left: 24px;
}

.testimonial__profile--details--name {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  margin: 0;
}

.testimonial__profile--details--job {
  font-size: 16px;
  color: #7c8ba1;
  font-weight: 500;
  margin: 0;
}

.testimonial__arrows {
  display: flex;
}

.testimonial__arrows--left,
.testimonial__arrows--right {
  margin: 0 12px;
  padding: 16px;
  background-color: rgb(237, 242, 247);
  border: none;
  border-radius: 50px;
  transition: all 300ms ease;
  cursor: pointer;
}

.testimonial__arrows--left:hover,
.testimonial__arrows--right:hover {
  background-color: #e2e8f0;
}

.testimonial__arrow {
  width: 16px;
  height: 16px;
  color: #6415ff;
}

.testimonial__arrows--divider {
  margin: 12px 0;
  border-right: 1px #a0aec0 solid;
  opacity: 0.25;
}

/* START */
.start__description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 282px;
  padding: 96px 32px;
  border-radius: 8px;
  margin-bottom: 80px;
  background-color: #6415ff;
}

.start__description--title {
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 500px;
  padding-left: 50px;
  font-size: 30px;
  font-weight: 700;
  color: #f7fafc;
}

.start__buttons {
  display: flex;
  justify-content: center;
  padding-right: 50px;
}

.start__buttons--get-started {
  margin-right: 32px;
  background-color: #f56565;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: #f7fafc;
}

.start__buttons--get-started:hover {
  background-color: #e53e3e;
}

.start__buttons--contact-us {
  border: 1px solid #f7fafc;
  font-size: 16px;
  font-weight: 700;
  color: #f7fafc;
  background-color: transparent;
}

.start__buttons--contact-us:hover {
  background-color: #fff;
  color: #6415ff;
}

.start__buttons--get-started,
.start__buttons--contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 50px;
  transition: all 300ms ease;
  cursor: pointer;
}

/* FOOTER */
footer {
  width: 100%;
  min-height: 522px;
  background-color: #6415ff;
  padding: 96px 32px;
}

footer .row {
  width: 100%;
  /* padding: 48px 50px 48px 50px; */
  /* flex-direction: column; */
  /* align-items: stretch; */
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.links__block {
  /* display: flex;
  flex-direction: column; */
  width: calc(100% / 5);
  align-items: center;
  margin-top: 48px;
  padding: 0 16px;
}

.links__block--title {
  color: #f7fafc;
  font-size: 16px;
  font-weight: 700;
}

.links__block--list {
  margin-top: 24px;
  /* display: flex; */
  flex-direction: column;
}

.link {
  margin-top: 12px;
  padding-bottom: 4px;
}

.link-a {
  color: #f7fafc;
  font-size: 16px;
  font-weight: 500;
}

.link-a:hover {
  text-decoration: underline white;
  text-underline-offset: 10px;
}

.footer__divider {
  width: 100%;
  height: 2px;
  border-bottom: 2px solid rgb(116, 44, 255);
  margin: 64px 0px;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.footer__socials--logo-link {
  display: flex;
  align-items: center;
}
.footer__socials--logo-img {
  width: 32px;
  height: 32px;
}
.footer__socials--logo-name {
  font-size: 20px;
  color: #f7fafc;
  margin-left: 8px;
  font-weight: 900;
}

.footer__copyright {
  font-size: 16px;
  font-weight: 500;
  color: #cbd5e0;
}

.footer__socials--list {
  display: flex;
}

.footer__socials--link {
  width: 32px;
  height: 32px;
  padding: 8px;
  color: black;
  background-color: #f7fafc;
  border-radius: 50px;
  margin-right: 16px;
}
.footer__socials--link:last-child {
  margin-right: 0px;
}

/* MEDIA EDITS */
@media (max-width: 1024px) {
  .logo {
    margin: 8px 0;
  }
  .nav__burger {
    display: inline;
  }
  .nav__link,
  .nav__link--signup {
    display: none;
  }
  header .row {
    flex-direction: column;
  }
  .landing__container {
    max-width: 512px;
    width: 100%;
  }
  .landing__title {
    font-size: 30px;
    text-align: center;
  }
  .landing__para {
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
  }
  .landing__email-input {
    margin: 0 auto;
  }
  .landing__email-input--input::placeholder {
    font-size: 16px;
  }
  .landing__customers--title {
    text-align: center;
    font-size: 14px;
  }
  .landing__customers {
    margin-top: 48px;
  }
  .landing__customers--img {
    padding: 0;
  }
  .landing__image--figure {
    max-width: 512px;
    margin-top: 48px;
  }
}

@media (max-width: 1006px) {
  .section__title-two{
    font-size: 36px;
  }
  .features__header p,
  .quality-work__description p,
  .steps__description p, 
  .values__description p,
  .pricing__description p,
  .testimonials__description p{
    font-size: 16px;
  }
  .service {
    width: 50%;
  }
  .service__item--para {
    font-size: 16px;
  }
  .values__features{
    flex-direction: column;
  }
  .plans {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .plan{
    width: fit-content;
  }
  .plan__details{
    width: 100%;
  }
  #testimonials h2{
    font-size: 36px;
  }
  .testimonials__img--wrapper{
    width: calc(100%/2.4);
  }
  .testimonials__description{
    flex: 1;
  }
  .start__description{
    flex-direction: column;
    align-items: center;
  }
  .start__description--title{
    text-align: center;
    width: 100%;
    max-width: 512px;
    padding: 0;
  }
  .start__buttons{
    justify-content: center;
    width: 100%;
    max-width: 512px;
    align-items: flex-end;
    padding: 0;
    margin-top: 24px;
  }
}

@media (max-width: 750px) {
  .container{
    padding: 80px 0px;
  }
 
  .service {
    width: 100%;
  }
  .service__item--para {
    font-size: 14px;
  }
  #quality-work .row, #pricing .row, #values .row{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .quality-work__img--wrapper{
    width: 100%;
  }
  .quality-work__img--wrapper img{
    max-width: 448px;
    height: auto;
  }
  .quality-work__description, .quality-work__img--wrapper{
    max-width: 448px;
    margin-right: 0;
  }
  .quality-work__description, .values__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: 100%;
  }
  #steps .row, #testimonials .row{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .steps__img--wrapper{
    display: flex;
    justify-content: center;    
  }
  .steps__img--wrapper img{
    width: 100%;
    max-width: 448px;
  } 
  .steps__description{
    width: 100%;
    max-width: 448px;
    margin-left: 0px;
    text-align: center;
    margin-top: 50px;
  }
  .section__title-two{
    margin-top: 16px;
  }
  .step{
    flex-direction: column;
    align-items: center;
  }
  .step__description{
    margin-left: 0px;
    margin-top: 12px;
  }
  .value__para, .values__para{
    text-align: center;
  }
  .value__header{
    justify-content: center;
  }
  .value{
    margin-right: 0;
  }
  .values__description{
    margin-right: 0;
  }
  .testimonials__description{
    padding: 0 30px;
    text-align: center;
  }
  .testimonials__img--wrapper{
    width: 100%;
  }
  .testimonial__stars{
    justify-content: center;
  }
  .links{
    justify-content: flex-start;
  }
  .links__block{
    width: calc(100%/3);
    margin-top: 48px;
  }
  .socials{
    flex-direction: column;
    align-items: center;
  }
  .footer__copyright, .footer__socials--list{
    margin-top: 32px;
  }

}

@media (max-width: 640px) {
  .landing__email-input {
    display: block;
  }
  .landing__email-input--btn {
    position: static;
    width: 100%;
    padding: 16px 0px;
    margin: 16px 0px;
  }
}


@media (max-width:623px){
  .section__title-two{
    font-size: 30px;
  } 
  .testimonial__profile{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonial__profile--img-wrapper{
    display: flex;
    justify-content: center;
  }
  .testimonial__profile--details{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonial__bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .testimonial__arrows{
    margin: 32px 0 0;
  }
  .start__description{
    padding: 80px 0;
  }
  .start__description--title{
    font-size: 24px;
  }
  .start__buttons--get-started, .start__buttons--contact-us{
    font-size: 14px;
    max-height: 47px;
  }
  .start__buttons--get-started{
    margin: 0;
  }
  .start__buttons--contact-us{
    margin-top: 16px;
  }
  .start__buttons{
    flex-direction: column;
    align-items: center;
  }
  .links{
    justify-content: center;
  }
  .links__block{
    width: calc(100%/5);
    min-width: 100px;
    text-align: center;
  }
  .footer__copyright{
    font-size: 14px;
  }
}


@media (max-width:480px){

}