* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

html {
    line-height: 1.5;
    text-size-adjust: 100%;
    tab-size: 4;
    scroll-behavior: smooth;
}

div{
    display: block;
}

p{
    display: block;
}

header{
    position: relative;
}

.container{
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    color: #243E63;
    font-size: 14px;
    font-weight: bold;
}

img{
    width: 100%;
}

.purple {
    color: #6415FF;
}

header {
    height: calc(100vh - 80px);
}

#landing {
    min-height: 100vh;
    padding: 32px 32px 96px;
}


/* NAV BAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 12px;
}

.nav__logo--link {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-weight: bold;   
    font-size: 24px;
    color: #243E63;
}

.nav__logo--link:hover {
    color: #6415ff;
}


.nav__link {
    margin: 0 24px;
}

.nav__link--login {
    margin: 0px 24px 0px 48px;
}

.nav__link:hover {
    color: #6415ff;
    text-decoration: underline #6415ff;    
    text-underline-offset: 10px;
}

.nav__link--signup {
    border-radius: 9999px;
    padding: 12px 32px;
    margin: 0;
    background-color: #6415FF;
    font-weight: bold;
    color: #fff;
}

.nav__link--signup:hover {
    background-color: #5512d9;
    text-decoration-line: none;
}


/* LANDING HEADER */
header .row{
    display: flex;
}

.landing__container{
    width: 40%;
}

.landing__title{
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.landing__para{
    font-size: 18px;
    color: #243E63;
    margin: 32px 0;
    line-height: 1.5;
}

.landing__email-input{
    position: relative;
    max-width: 448px;
    display: flex;
    align-items: center;
}

.landing__email-input--input{
    padding: 22px 0;
    padding-left: 32px;
    width: 100%;
    border-radius: 100px;
    border: 2px solid #e5e7eb;
    font-size: 16px;
    font-weight: 500;
}

.landing__email-input--btn {
    position: absolute;
    right: 0;
    margin: 8px 8px 8px 0;
    padding: 14px 0;
    width: 160px;
    border-radius: 9999px;
    border: none;
    background-color: #6415ff;
    font-size: 16px;
    color: #f7fafc;
    font-weight: bold;
    box-sizing: content-box;
    line-height: 1.5;
}

.landing__customers{
    margin: 80px 0 0;
}

.landing__customers--title {
    font-size: 12px;
    color: #A0AEC0;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.landing__customers--img {
    opacity: 0.5;
    margin-top: 16px;
    padding-right: 128px;
}

.landing__image--figure{
    position: relative;
    display: flex;    
    width: 60%;
    max-width: 768px;
    justify-content: flex-end;
}

.landing__image{
    max-width: 100%;
    width: 100%;
}